<%-include("partials/header.ejs")%>

    <div class="container my-5 bg-body-tertiary">
        <div class="row justify-content-center">
            <div class="content col-lg-8 col-12 p-4">
                <h1><%= blog.title %></h1>
                <h2><%=blog.country_name%> <img src="https://flagsapi.com/<%=blog.country_code%>/flat/32.png"></h2>
                <h3><%=blog.name%></h3>
                <p><%= blog.content %></p>
            </div>
            <div class="content col-lg-2 col-8 my-4 mx-4 p-4 text-center" style="height: 170px;">
                <form action="/delete/<%=blog.id%>" method="get">
                    <input type="text" name="postId" hidden value="<%= blog.id %>">
                    <input style="width: 85%;" class="btn btn-danger fs-5 btn-lg my-2 button-rad" type="submit" name="delete" value="Delete">
                </form>
                <a href="/edit/<%= blog.id %>"><input style="width: 85%;" class="btn btn-light fs-5 btn-lg my-2 button-rad" type="button" value="Edit"></a>
                <a href="/"><input style="width: 85%;" class="btn btn-secondary fs-5 btn-lg my-2 button-rad" type="button" value="Back"></a>
            </div>
        </div>
    </div>

<%-include("partials/footer.ejs")%>

